<template>
    <div class="loader" v-loading="true" v-if="userLoading"/>
    <router-view v-else/>
</template>

<script>

    export default {
        name: 'App',

        data: () => {
            return {
                userLoading: false
            }
        },

        async created() {
            this.userLoading = true
            await this.$store.dispatch('auth/user')
            this.userLoading = false
        }
    }
</script>

<style lang="scss">
    #app {
    }
</style>
