<template>
    <div class="home">
        Welcome!
    </div>
</template>

<script>
    export default {
        name: 'Home',

        data() {
            return {}
        }
    }
</script>

<style lang="scss">
    .home {
    }
</style>
