<template>
    <div class="login-con" v-loading="loading">
        <el-form ref="form" :model="form" :rules="rules" label-position="top">

            <el-form-item label="Login" prop="login">
                <el-input v-model="form.login" @keyup.enter="login"/>
            </el-form-item>

            <el-form-item label="Password" prop="password">
                <el-input v-model="form.password" type="password" show-password @keyup.enter="login"/>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="login">Login</el-button>
            </el-form-item>

        </el-form>
    </div>
</template>

<script>
    import { mapState } from 'vuex'

    export default {
        name: 'Login',

        data() {
            return {
                form: {
                    login: '',
                    password: ''
                },
                rules: {
                    login: [
                        {
                            required: true,
                            message: 'Please input login',
                            trigger: 'blur'
                        },
                        {
                            min: 3,
                            message: 'Длина должна быть больше 2',
                            trigger: 'blur'
                        }
                    ],
                    password: [
                        {
                            required: true,
                            message: 'Please input password',
                            trigger: 'blur'
                        },
                        {
                            min: 3,
                            message: 'Длина должна быть больше 2',
                            trigger: 'blur'
                        }
                    ]
                }
            }
        },

        computed: {
            ...mapState({
                user: state => state.auth.user,
                loading: state => state.tagLoading.auth > 0
            })
        },

        created() {
            this.checkUser()
        },

        methods: {
            async login() {
                this.$refs.form.validate(async (valid, fields) => {
                    if (valid) {
                        await this.$store.dispatch('auth/login', this.form)
                        this.checkUser()
                    } else {
                        this.$message.info('Исправьте ошибки в форме!')
                    }
                })
            },

            checkUser() {
                if (this.user) {
                    this.go('/admin')
                }
            }
        }
    }
</script>

<style lang="scss">
    .login-con {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .el-form {
            width: 250px;
        }
    }
</style>
